{% if  mikrotik_l2tp_client_delete_old_profiles == true %}
# Delete old PPP profiles except default and default-encryption
/ppp profile remove [/ppp profile find where !(name=default or name=default-encryption)]
{% endif %}

{% if mikrotik_l2tp_client_delete_old_connections == true %}
# Delete old L2TP connections
/interface l2tp-client remove [/interface l2tp-client find]
{% endif %}


{% if mikrotik_l2tp_client['connections'] is defined and mikrotik_l2tp_client['connections'][0] is defined %}
# Remove not defined L2TP connections
# connect_to, comment, disabled and name are required fields
/interface l2tp-client remove [/interface l2tp-client find where (comment~"Ansible managed:") and !(\
{% for l2tp_conn in mikrotik_l2tp_client['connections'] %}
{% if not loop.first %} or \ {% endif %}
  ( name="{{ l2tp_conn['name'] }}" ) \
{% endfor %}
)]
{% endif %}


{% if mikrotik_l2tp_client['profiles'] is defined and mikrotik_l2tp_client['profiles'][0] is defined %}
# Remove not defined PPP profiles which contain "[L2TP-client-Ansible]" in their name
# It is a precaution not to delete other L2TP client profiles or PPP profiles which are made for other purposes
# name and comment are required fields
/ppp profile remove [/ppp profile find where (comment~"Ansible managed:") and !(\
{% for profile in mikrotik_l2tp_client['profiles'] %}
{% if not loop.first %} or \{% endif %}
  ( name="{{ profile['name'] }}__L2TP-client-Ansible" ) \
{% endfor %}
) and name~"L2TP-client-Ansible" ]
{% endif %}

{% if mikrotik_l2tp_client['profiles'] is defined and mikrotik_l2tp_client['profiles'][0] is defined %}
# Create new profiles
# name and comment are required fields.
{% for profile in mikrotik_l2tp_client['profiles'] %}
:if ([ /ppp profile find name="{{ profile['name'] }}__L2TP-client-Ansible" ] = "") do={ \
  # Add a new profile {{ profile['name'] }}
  /ppp profile add name="{{ profile['name'] }}__L2TP-client-Ansible"
}

# Set parameters
/ppp profile set [ /ppp profile find name="{{ profile['name'] }}__L2TP-client-Ansible"]  \
  name="{{ profile['name'] }}__L2TP-client-Ansible" \
  comment="Ansible managed: [{{ profile['comment'] }}]" \
{% if profile['address_list'] is defined %} address-list="{{ profile['address_list'] }}"  {% endif %}
{% if profile['idle_timeout'] is defined %} idle-timeout="{{ profile['idle_timeout'] }}"  {% endif %}
{% if profile['interface_list'] is defined %} interface-list="{{ profile['interface_list'] }}"  {% endif %}
{% if profile['on_up'] is defined %} on-up="{{ profile['on_up'] }}"  {% endif %}
{% if profile['remote_address'] is defined %} remote-address="{{ profile['remote_address'] }}"  {% endif %}
{% if profile['use_encryption'] is defined %} use-encryption="{{ profile['use_encryption'] | bool | ternary('yes', 'no') }}"  {% endif %}
{% if profile['wins_server'] is defined %} wins-server="{{ profile['wins_server'] }}"  {% endif %}
{% if profile['bridge'] is defined %} bridge="{{ profile['bridge'] }}"  {% endif %}
{% if profile['bridge_port_priority'] is defined %} bridge_port-priority="{{ profile['bridge_port_priority'] |quote }}"  {% endif %}
{% if profile['copy_from'] is defined %} copy-from="{{ profile['copy_from'] }}"  {% endif %}
{% if profile['incoming_filter'] is defined %} incoming-filter="{{ profile['incoming_filter'] |quote }}"  {% endif %}
{% if profile['local_address'] is defined %} local-address="{{ profile['local_address'] }}"  {% endif %}
{% if profile['only_one'] is defined %} only-one="{{ profile['only_one'] | bool | ternary('yes', 'no') }}"  {% endif %}
{% if profile['queue_type'] is defined %} queue-type="{{ profile['queue_type'] }}"  {% endif %}
{% if profile['session_timeout'] is defined %} session-timeout="{{ profile['session_timeout'] }}"  {% endif %}
{% if profile['use_mpls'] is defined %} use-mpls="{{ profile['use_mpls'] | bool | ternary('yes', 'no') }}"  {% endif %}
{% if profile['bridge_horizon'] is defined %} bridge-horizon="{{ profile['bridge_horizon'] }}"  {% endif %}
{% if profile['change_tcp_mss'] is defined %} change-tcp-mss="{{ profile['change_tcp_mss'] | bool | ternary('yes', 'no')  }}"  {% endif %}
{% if profile['dns_server'] is defined %} dns-server="{{ profile['dns_server'] }}"  {% endif %}
{% if profile['insert_queue_before'] is defined %} insert_queue-before="{{ profile['insert_queue_before'] }}"  {% endif %}
{% if profile['on_down'] is defined %} on-down="{{ profile['on_down'] }}"  {% endif %}
{% if profile['outgoing_filter'] is defined %} outgoing-filter="{{ profile['outgoing_filter'] }}"  {% endif %}
{% if profile['rate_limit'] is defined %} rate-limit="{{ profile['rate_limit'] }}"  {% endif %}
{% if profile['use_compression'] is defined %} use-compression="{{ profile['use_compression'] | bool | ternary('yes', 'no')  }}"  {% endif %}
{% if profile['use_upnp'] is defined %} use-upnp="{{ profile['use_upnp'] | bool | ternary('yes', 'no') }}"  {% endif %}
{% endfor %}
{% endif %}


{% if mikrotik_l2tp_client['connections'] is defined and mikrotik_l2tp_client['connections'][0] is defined %}
# Create new L2TP connections
# name, comment, disabled and connect_to are required fields
{% for l2tp_conn in mikrotik_l2tp_client['connections'] %}
:if ([/interface l2tp-client find name="{{ l2tp_conn['name'] }}"] = "") do={ \
  # Add a new L2TP interface "{{ l2tp_conn['name'] }}"
  /interface l2tp-client add \
    name="{{ l2tp_conn['name'] }}" \
    connect-to="{{ l2tp_conn['connect_to'] }}" \
    comment="Ansible managed: [{{ l2tp_conn['comment'] }}]" \
    user="{{ l2tp_conn['user'] }}"
}

# Set parameters for L2TP connection {{ l2tp_conn['name'] }}
/interface l2tp-client set [/interface l2tp-client find name="{{ l2tp_conn['name'] }}"] \
  name="{{ l2tp_conn['name'] }}" \
  connect-to="{{ l2tp_conn['connect_to'] }}" \
  comment="Ansible managed: [{{ l2tp_conn['comment'] }}]" \
  disabled="{{ l2tp_conn['disabled'] | bool | ternary('yes', 'no') }}"  \
{% if l2tp_conn['add_default_route'] is defined %} add-default-route="{{ l2tp_conn['add_default_route'] | bool | ternary('yes', 'no') }}"  {% endif %}
{% if l2tp_conn['allow_fast_path'] is defined %} allow-fast-path="{{ l2tp_conn['allow_fast_path'] | bool | ternary('yes', 'no') }}"  {% endif %}
{% if l2tp_conn['copy_from'] is defined %} copy-from="{{ l2tp_conn['copy_from'] }}"  {% endif %}
{% if l2tp_conn['dial_on_demand'] is defined %} dial-on-demand="{{ l2tp_conn['dial_on_demand'] | bool | ternary('yes', 'no') }}"  {% endif %}
{% if l2tp_conn['use_ipsec'] is defined %} use-ipsec="{{ l2tp_conn['use_ipsec'] | bool | ternary('yes', 'no') }}"  {% endif %}
{% if l2tp_conn['ipsec_secret'] is defined %} ipsec-secret="{{ l2tp_conn['ipsec_secret'] }}"  {% endif %}
{% if l2tp_conn['max_mru'] is defined %} max-mru="{{ l2tp_conn['max_mru'] }}"  {% endif %}
{% if l2tp_conn['mrru'] is defined %} mrru="{{ l2tp_conn['mrru'] }}"  {% endif %}
{% if l2tp_conn['password'] is defined %} password="{{ l2tp_conn['password'] }}"  {% endif %}
{% if l2tp_conn['user'] is defined %} user="{{ l2tp_conn['user'] }}"  {% endif %}
{% if l2tp_conn['allow'] is defined %} allow="{{ l2tp_conn['allow'] }}"  {% endif %}
{% if l2tp_conn['default_route_distance'] is defined %} default-route-distance="{{ l2tp_conn['default_route_distance'] }}"  {% endif %}
{% if l2tp_conn['keepalive_timeout'] is defined %} keepalive-timeout="{{ l2tp_conn['keepalive_timeout'] }}"  {% endif %}
{% if l2tp_conn['max_mtu'] is defined %} max-mtu="{{ l2tp_conn['max_mtu'] }}"  {% endif %}
{% if l2tp_conn['profile'] is defined %} profile="{{ l2tp_conn['profile'] }}"  {% endif %}


{% endfor %}
{% endif %}
